<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" title="IE=edge,chrome=1" />
<meta name="format-detection" title="telephone=no">
<title>Yeluotalk 简历页</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery.fullPage.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
</head>

<body>
<div class="nav-head">
	<h3>WELCOME</h3>
	<div class="link">
		<ul id="menu">
			<li class="active" data-menuanchor="page1"><a href="#page1">Home</a></li>
			<li data-menuanchor="page2"><a href="#page2">Experience</a></li>
			<li data-menuanchor="page3"><a href="#page3">Profile</a></li>
			<li data-menuanchor="page4"><a href="#page4">Contact</a></li>
		</ul>
	</div>
</div>
<div id="jianli" class="jianli">
	<div class="section fp-section  page1" data-anchor="page1">
		<div class="down">
			<img src="{{ url_for('static', filename = 'imgs/ico6.png')}}"/>
		</div>
		<div class="bg">
			<img src="{{ url_for('static', filename = 'imgs/bg4.jpg')}}"/>
		</div>
		<h3>PROBLEM SOLVING<br> IN <span>HTML</span></h3>
		<h4>汪宏图 | Web前端开发<br>一腔热血的 <b>激情</b> 一个像素的 <b>执着</b></h4>
		<div class="btn-work">
			<a href="#page4">Let's work together</a>
		</div>
		
	</div>
	<div class="section fp-section  page2" data-anchor="page2">
		<div class="down">
			<img src="{{ url_for('static', filename = 'imgs/ico6.png')}}"/>
		</div>
		<h3>MY <span>EXPERIANCE</span></h3>
		<div class="select" id="select">
			<ul class="head">
				<li class="active"><a href="###">Web移动端</a></li>
				<li><a href="###">PC端</a></li>
				<li><a href="###">响应式</a></li>
			</ul>
			<ul class="body">
				<li class="active">
					<dl>
						<dd>
							<a href="qqwallet.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img1.jpg')}}"/>
									<div class="content">
										rem布局可响应不同手机浏览器
									</div>
								</div>
								<div class="title">
									QQ钱包
								</div>
							</a>
						</dd>
						<dd>
							<a href="xiaonuan.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img2.jpg')}}"/>
									<div class="content">
										app登录界面可响应不同手机浏览器
									</div>
								</div>
								<div class="title">
									小暖医生
								</div>
							</a>
						</dd>
						<dd>
							<a href="chuizi.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img3.jpg')}}"/>
									<div class="content">
										一个简单的H5小游戏
									</div>
								</div>
								<div class="title">
									锤子砸奖游戏
								</div>
							</a>
						</dd>
						<dd>
							<a href="yun.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img4.jpg')}}"/>
									<div class="content">
										将设计师二倍图制作成符合标准的web app
									</div>
								</div>
								<div class="title">
									云兼职
								</div>
							</a>
						</dd>
					</dl>
				</li>
				<li class="">
					<dl>
						<dd>
							<a href="kehu.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img5.jpg')}}"/>
									<div class="content">
										PC端客户端管理系统页面
									</div>
								</div>
								<div class="title">
									客户管理系统
								</div>
							</a>
						</dd>
						<dd>
							<a href="haitian.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img6.jpg')}}"/>
									<div class="content">
										二级菜单+手风琴效果页面
									</div>
								</div>
								<div class="title">
									海天农牧集团
								</div>
							</a>
						</dd>
						<dd>
							<a href="7miao.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img7.jpg')}}"/>
									<div class="content">
										PC端兼容性良好的网站首页
									</div>
								</div>
								<div class="title">
									7秒记忆
								</div>
							</a>
						</dd>
						<dd>
							<a href="imirror.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img8.jpg')}}"/>
									<div class="content">
										仿苹果首页网站页面
									</div>
								</div>
								<div class="title">
									iMirror
								</div>
							</a>
						</dd>
					</dl>
				</li>
				<li class="">
					<dl>
						<dd>
							<a href="imirror.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img8.jpg')}}"/>
									<div class="content">
										仿苹果首页响应式页面
									</div>
								</div>
								<div class="title">
									iMirror
								</div>
							</a>
						</dd>
						<dd>
							<a href="myam.html">
								<div class="view">
									<img src="{{ url_for('static', filename = 'imgs/img9.jpg')}}"/>
									<div class="content">
										Bootstrap响应式页面
									</div>
								</div>
								<div class="title">
									MyAM
								</div>
							</a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="section fp-section  page3" data-anchor="page3">
		<div class="down">
			<img src="{{ url_for('static', filename = 'imgs/ico6.png')}}"/>
		</div>
		<h3>MY <span>PROFILE</span></h3>
		<ul>
			<li>
				<div class="view">
					<dl>
						<dt>
							<h4>HTML</h4>
							<div class="wrapper">
								<div class="bar"></div>
								<span></span>
							</div>
						</dt>
						<dt>
							<h4>CSS</h4>
							<div class="wrapper">
								<div class="bar"></div>
								<span></span>
							</div>
						</dt>
					</dl>
				</div>
				<div class="content">
					<dl>
						<dt>对w3c语义化有独到理解，熟悉div布局</dt>
						<dt>熟悉Rem布局、流式布局及响应式布局</dt>
						<dt>熟悉ie6、ie7、ie8、ie9兼容性调试</dt>
						<dt>编写语义化、模块化、具有强兼容性的页面代码</dt>
						<dt>熟悉大部分类型页面的编写</dt>
					</dl>
				</div>
			</li>
			<li>
				<div class="view">
					<dl>
						<dt>
							<h4>jQuery</h4>
							<div class="wrapper">
								<div class="bar"></div>
								<span></span>
							</div>
						</dt>
						<dt>
							<h4>JavaScript</h4>
							<div class="wrapper">
								<div class="bar"></div>
								<span></span>
							</div>
						</dt>
					</dl>
				</div>
				<div class="content">
					<dl>
						<dt>手写JavaScript,jQuery实现常见交互效果</dt>
						<dt>了解jQuery、JavaScript插件开发</dt>
						<dt>熟悉Ajax工作原理和实现方法，了解HTTP协议</dt>
						<dt>js结合CSS与HTML高效合理实现效果</dt>
						<dt>熟悉json数据的前后端交互</dt>
					</dl>
				</div>
			</li>
			<li>
				<div class="view">
					<dl>
						<dt>
							<h4>Bootstrap</h4>
							<div class="wrapper">
								<div class="bar"></div>
								<span></span>
							</div>
						</dt>
						<dt>
							<h4>常用插件</h4>
							<div class="wrapper">
								<div class="bar"></div>
								<span></span>
							</div>
						</dt>
					</dl>
				</div>
				<div class="content">
					<dl>
						<dt>了解Bootstrap、fullpage等常见前端框架和插件</dt>
						<dt>熟悉插件优劣合适与否选择</dt>
						<dt>能够灵活应用插件</dt>
						<dt>熟悉EDM编写</dt>
						<dt>常用插件和代码块笔记化模块化存放</dt>
					</dl>
				</div>
			</li>
			<li>
				<div class="view">
					<dl>
						<dt>
							<h4>开发软件</h4>
							<div class="wrapper">
								<div class="bar"></div>
								<span></span>
							</div>
						</dt>
						<dt>
							<h4>编程技能</h4>
							<div class="wrapper">
								<div class="bar"></div>
								<span></span>
							</div>
						</dt>
					</dl>
				</div>
				<div class="content">
					<dl>
						<dt>熟练使用Sublime Text、Hbuilder、Dreamweaver等前端开发工具</dt>
						<dt>熟练使用Photoshop切图，实现图片处理及像素级重构</dt>
						<dt>熟练使用firebug以及chrome等进行调试</dt>
						<dt>熟练使用ftp、git代码管理工具</dt>
						<dt>本网站后端由python+flask+nginx+git实现</dt>
					</dl>
				</div>
			</li>
		</ul>
	</div>
	<div class="section fp-section  page4" data-anchor="page4">
		<h3>CONTACT</h3>
		<div class="content">
			<div class="col">
				<h4>About Me</h4>
				<p>喜欢旅游爬山，听音乐弹吉他；乐观有上进心，能承受一定的工作压力。</p>
				<p>追求完美，有极客精神；对Web前端开发有热情，能从中获得成就感，勤于思考，善于总结。</p>
				<p>拥有较强的学习能力，喜欢接触学习新事物新知识，喜欢解决问题带来的成就感。</p>
			</div>
			<div class="col">
				<h4>Other</h4>
				<dl>
					<dt>意向职位：</dt>
					<dd>Web前端开发</dd>
					<dt>教育经历：</dt>
					<dd>安徽理工大学</dd>
					<dt>工作经验：</dt>
					<dd>2年</dd>
					<dt>学历：</dt>
					<dd>本科</dd>
					<dt>联系电话：</dt>
					<dd>152 2007 6631</dd>
					<dt>QQ：</dt>
					<dd>980851468</dd>
					<dt>邮箱：</dt>
					<dd>arvinwang007@gmail.com</dd>
				</dl>
			</div>

		</div>
	</div>
</div>


<script src="{{ url_for('static', filename = 'js/jquery-1.8.3.min.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename = 'js/jquery.easing.1.3.js')}}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.fullPage.min.js')}}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/script.js')}}"></script>

<script>
	$(function(){
		$('#jianli').fullpage({
 			anchors: ['page1', 'page2', 'page3', 'page4'],
        	menu: '#menu',
		});
	});
</script>
</body>
</html>

